*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #FA8072;

    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    display: flex;   
    align-items: center;
}

li{
    padding: 1rem;
}

li a:hover{
    color: #d36a5e;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;

    /* border-bottom: 1px solid #ffffff; */
    box-shadow: 1px 1px 10px 1px;
}

body{
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
}

.foto img{
    border-radius: 50%;
    width: 70px;
    padding: 2px;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
    margin: 1rem;
}

.container .name h5{
    font-size: 25px;
}

.arrow i{
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}


.about {
    max-width: 1000px;
    margin: 0 auto;
   
     display: none;  
     
}

.about div{
    box-shadow: 7px 1px 15px 2px;
    padding: 8px;
    margin: 20px;
    flex-basis: 100%;
    
    text-align: center;           
}

.display{
    display: block;
    display: flex !important; 
}


.about div:hover{
    box-shadow: 10px 5px 10px 5px;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form input{
    width: 65%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 5px 5px 5px;
}

.form button{
    width: 30%;
    padding: 5px 10px;
    background-color: #FA8072;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px 5px 5px 5px;
}


.form button:hover{
    background-color: #d36a5e;
    color: rgba(255, 255, 255, 0.808);
}

@media only screen and (max-width:480px){
    .container .name h1 {
        font-size: 30px;
    }

    .container .name h5{
        font-size: 15px;
    }

    body{
        width:380px;
        height: 700px;
        background-image: url(../images/background.jpg);
        background-repeat: no-repeat;
        background-position: center center fixed;
        background-size: cover;
    }

    .display{
        display: block;
        display: flex !important; 
        flex-wrap: wrap;
    }

    .form{
        width: 55%;
        margin: 0 auto;
    }
}